*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
.sc{
  background-color:  #087bdf;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  
}git p
.sc #nav{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin-left: auto;

}
.sc ul{
  display: flex;
  flex-direction: row;  
}
.sc li{
  list-style: none;
  padding: 10px;
}
.sc a{
  font-family: sans-serif;
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
  text-align: right;
  color: #ffffff;
  &:hover{
    border: 1.2px solid #ffffff;
    border-radius: 6px;
    text-shadow: rgba(0, 0, 0, 0.5);
  }
}

.sc h2{
  color: #ffffff;
  font-size: 3.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.sc h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(27, 96, 125);
  background-color: white;
  padding: 12px;
  margin-left: 10px;
  border-radius: 10px;
}

/* Footer styling  */
 
footer {
  background-color: #0b1238;
  color: #fff;
  padding: 40px 20px;
  text-align: center; 
  font-family: Arial, sans-serif;
}


footer input[type="email"] {
  padding: 12px;
  width: 240px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

footer button {
  padding: 10px 15px;
  background-color: #ff6a28; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer button:hover {
  background-color: #ff4500;
}

/* social media icon */
.social-media-icon {
  margin: 20px 0;
}

.social-media-icon a {
  display: inline-block;
  margin: 0 10px;
}

.social-media-icon img {
  width: 24px; 
  height: 24px;
}

footer p {
  margin: 10px 0;
}

/* Footer bottom section */
.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #fff; 
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-bottom ul li {
  margin: 0 15px;
}

.footer-bottom ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom ul li a:hover {
  text-decoration: underline;
}

/* Responsive design  */
@media (max-width: 768px) {
  footer input[type="email"] {
      width: 25%;
      margin-bottom: 10px;
  }
  footer button {
      width: 10%;
  }
  .social-media-icon {
      margin-bottom: 20px;
  }
  .sc a{
    font-size: 16px;
  }
  .sc li{
    margin: 0px;
    padding: 5px;
  }
  .sc ul{
    margin: 0px;
  }


}

